[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"

[packages]
invenio-app-rdm = {git = "https://github.com/caltechlibrary/invenio-app-rdm.git", ref = "v13.0.0b1.dev24.caltech.v1", extras = ["opensearch2", "s3"]}
idutils = {git = "https://github.com/caltechlibrary/idutils.git", ref = "authors"}
invenio-rdm-records = {git = "https://github.com/caltechlibrary/invenio-rdm-records.git", ref = "authors-2024"}
invenio-communities = {git = "https://github.com/caltechlibrary/invenio-communities.git", ref = "authors-2024"}
invenio-logging = {extras = ["sentry_sdk"]}
caltechauthors = {editable = true, path="./site"}
python-dotenv = "*"
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"
invenio-oaiserver = "==2.3.0"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = false
