[Unit]
Description=Launch InvenioRDM Web Interface (Granian, UI)
After=docker.service network-online.target
Requires=docker.service
Wants=network-online.target

[Service]
Type=simple
User=tmorrell
StandardOutput=journal
StandardError=journal
WorkingDirectory=/Sites/caltechauthors
EnvironmentFile=/Sites/caltechauthors/.env
ExecStart=/usr/local/bin/uv run --no-sync granian --interface wsgi invenio_app.wsgi_ui:application --host 0.0.0.0 --port 5000 --workers 6 --blocking-threads 5 --workers-max-rss 1800 --respawn-failed-workers
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
